doctype html
html
    head
        meta( charset="utf-08")
        title Form
    

    body
        form( action="" method="POST" enctype="multipart/form-data")
            input( type="file" name="uploads" multipart multiple)
            button( type="submit" value="submit") Submit